main {
  width: 90%;
  margin: auto;
}

body{
  background-color: rgb(241, 241, 241);
  color: rgb(92, 92, 92);
}

section {
  margin-left: 50px;
}


.box button {
  margin: 5px;
}

.box {
  text-align: center;
  padding: 40px;
  border: 3px solid rgb(92, 92, 92);
  color: rgb(92, 92, 92);
  margin: 10px;
  border-radius: 25px;
  display: block;
  background-color: white;
}
.wrapper {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

button {
  border-radius: 2px;
  border: none;
  margin: 5px;
}

button{
  background-color: rgb(79, 158, 184);
  color: white;
}

button:hover{
  background-color: white;
  color: rgb(110, 205, 236);
}

hr {
  border: 1px solid rgb(92, 92, 92);
  margin-left: -100px;
  width: 5000px
}

.addItem {
  margin-top: 100px;
  margin-bottom: 100px;
}